/* giving all the elements a border box */

* {
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
/* box for body */
.text-box {
      max-width: 800px; /* Adjust width as needed */
      margin: 20px auto; /* Center the box horizontally and add vertical spacing */
      padding: 20px; /* Padding inside the box */
      background-color: #f9f9f9; /* Light gray background for the box */
      border: 1px solid #ddd; /* Light border around the box */
      border-radius: 8px; /* Rounded corners (optional) */
      text-align: center;
}

.box-content {
    text-align: left;
    padding: 20px;
}

p {
    margin-bottom: 20px;
}

body {
    width: 400px;
    margin: 20px;
    padding: 10px;

}

h1 {
    text-align: center;
}

h1,h3 {
    color: rgb(191, 100, 21);
}
img {
    width: 200px;
    align-content: center;
}

.list {
    list-style-position: inside;
    padding-left: 20px;
}